.ofd{
    background-color: blue;
    color: white;
    border: none;
    margin-left: 10px;
}

.plh{
    background-color: yellow;
    color: black;
    border: none;
    margin-top: 10px;
}

.phl{
    background-color: yellow;
    color: black;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.rlh{
    background-color: yellow;
    color: black;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.rhl{
    background-color: yellow;
    color: black;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.dis{
    background-color: aqua;
    color: white;
    border: none;
    margin-top: 10px;
}

.delcha{
    background-color: aqua;
    color: white;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
}

.tp{
    background-color: black;
    color: white;
    border: none;
    margin-top: 10px;
}

.tci{
    background-color: black;
    color: white;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 120px;
}