<div class="parent">
 <div class="left">
    <h1>My Website</h1>
    <hr>
    <h4 routerLink="home">Home</h4>
    <h4 routerLink="about">About</h4>
    <h4 routerLink="data-binding">Databinding</h4>
    <h4 routerLink="calculator">Calculator</h4>
    <h4 routerLink="products">Products</h4>
    <h4 routerLink="vehicle">Vehicle</h4>
    <h4 routerLink="cars">Cars</h4>
    <h4 routerLink="mail">Mail</h4>
    <h4 routerLink="dynamic">Dynamic</h4>
    <h4 routerLink="create-cars">Cars😎</h4>
    <h4 routerLink="create-account">Account🤦‍♂️</h4>
    <h4 routerLink="create-user">User</h4>


   <button (click)="logout()">logout</button>

 </div>
 <div class="right">
    <router-outlet></router-outlet>
 </div>

</div>